name: molecule

on:
  push:
  pull_request:
  schedule:
    - cron: '0 18 * * sun'

jobs:
  test:
    name: ${{ matrix.image }} terragrunt ${{ matrix.terragrunt_version }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        image:
          - almalinux:10
          - rockylinux:9
          - oraclelinux:10
          - amazonlinux:2023
          - fedora:43
          - debian:13
          - debian:12
          - ubuntu:26.04
          - ubuntu:24.04
          - opensuse:16.0
          - archlinux:latest
          - alpine:latest
        terragrunt_version:
          - v0.36.0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Molecule
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Test Ansible role
        run: molecule test
        env:
          image: ansible-${{ matrix.image }}
          terragrunt_version: ${{ matrix.terragrunt_version }}

      - name: Test Ansible role with check_mode enable
        run: molecule check
        env:
          image: ansible-${{ matrix.image }}
          terragrunt_version: ${{ matrix.terragrunt_version }}
